* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: rgba(52, 52, 52, 1);
}

#bookForm {
  display: none;
}

.all {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  text-align: center;
}

.header {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  background-color: rgba(51, 222, 27, 1);
  text-align: center;
  justify-items: space-evenly;
  align-items: center;
  box-shadow: 10px 0px 15px rgba(0, 255, 0, 0.8);
}
.header form {
  display: flex;
  flex-direction: column;
}
.header input {
  height: 50px;
  border-radius: 10px;
  background-color: rgba(52, 52, 52, 1);
  border: 1pxs rgba(52, 52, 52, 1) solid;
  color: white;
  font-size: 30px;
  font-weight: bolder;
  padding: 5px;
}
.header label {
  text-align: start;
  padding-top: 20px;
}
.lowerForm {
  display: flex;
  justify-content: space-evenly;
}
.lowerForm div {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  width: 100px;
}
.lfpart1 {
}
.lfpart2 {
  color: rgba(52, 52, 52, 1);
  border: rgba(52, 52, 52, 1);
}
.header button {
  text-align: center;
  width: 200px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 4px rgba(52, 52, 52, 1) solid;
  background-color: transparent;
  color: rgba(52, 52, 52, 1);
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
  justify-self: center;
  align-self: center;
}

.body {
  padding: 30px;
}

#library {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(150px, 1fr));
  gap: 40px;
  margin-top: 40px;
}

.book {
  border: 1px solid rgba(51, 222, 27, 1);
  border-radius: 20px;
  background-color: rgba(52, 52, 52, 1);
  color: rgba(51, 222, 27, 1);
  box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.8);
  padding: 30px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.bookTitle {
  font-size: 30px;
  font-weight: bolder;
}
.bookDivider {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.book button {
  color: rgba(52, 52, 52, 1);
  background-color: rgba(51, 222, 27, 1);
  box-shadow: 0px 0px 20px 5px rgba(51, 222, 27, 1);
  padding: 5px;
  border-radius: 10px;
  border: 1px solid transparent;
  transition-duration: 0.2s;
}
.bookDone {
  border: 1px solid rgba(51, 222, 27, 1);
  border-radius: 20px;
  background-color: rgba(51, 222, 27, 1);
  color: rgba(52, 52, 52, 1);
  box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.8);
  padding: 30px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.bookDone button {
  color: rgba(51, 222, 27, 1);
  background-color: rgba(52, 52, 52, 1);
  box-shadow: 0px 0px 20px 5px rgba(52, 52, 52, 1);
  padding: 5px;
  border-radius: 10px;
  border: 1px solid transparent;
}
.delButton {
  color: red;
}
.delButton:hover {
  background-color: red;
  box-shadow: 0px 0px 20px 5px red;
  color: white;
  transition-duration: 0.2s;
}
.upButtonInactive:hover {
  border: 1px solid rgba(51, 222, 27, 1);
  box-shadow: 0px 0px 20px 5px rgba(51, 222, 27, 1);
  color: rgba(51, 222, 27, 1);
  background-color: rgba(52, 52, 52, 1);
}
.upButtonActive:hover {
  border: 1px solid rgba(51, 222, 27, 1);
  box-shadow: 0px 0px 20px 5px rgba(52, 52, 52, 1);
  color: rgba(52, 52, 52, 1);
  background-color: rgba(51, 222, 27, 1);
}
